:root{
  --green: #084d46;
  --dark-orange: #df6332;
  --light-orange: #f3792b;
  --beige: #f9f7dc;
  --yellow: #febd11;
  --black: #000000;
  --red-brown: #511011;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --border-radius: 15px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--beige);
  color: var(--green);
  font-family: var(--font);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cancel-button {
  padding: 0.75rem 1.25rem;
  background: var(--green);
  color: var(--beige);
  border: 2px solid var(--beige);
  border-radius: var(--border-radius);
  font-family: var(--font);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
  touch-action: manipulation;
  
}

.cancel-button:hover,
.cancel-button:active {
    border: 2px solid var(--dark-orange);
}

.submit-button{
  padding: 0.75rem 1.25rem;
  margin: 1rem 2.5rem 0 0;
  background-color: var(--green);
  color: var(--beige);
  border: 2px solid var(--beige);
  border-radius: var(--border-radius);
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease, transform 0.1s ease;
  touch-action: manipulation;
}

.submit-button:hover,
.submit-button:active {
    border: 2px solid var(--dark-orange);
}

.input-field {
  border-color: 2px solid var(--dark-orange);
}

.button {
    /* width: 8vw;
    height: 5vh; */
    border-radius: var(--border-radius);
    background: var(--green);
    border: 2px solid var(--beige);
    color: var(--beige);
    font-family: var(--font);
    font-weight: bold;
}

.button:hover,
.button:active {
    border: 2px solid var(--dark-orange);
    color: var(--beige);
}
